<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zemna.TextEncryptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Zemna.TextEncryptor.Properties.Settings>
            <setting name="help_url" serializeAs="String">
                <value>http://sw.zemna.net/windows/text-encryptor</value>
            </setting>
        </Zemna.TextEncryptor.Properties.Settings>
    </applicationSettings>
</configuration>